[mcu FlyD5]
canbus_uuid: 0a0b883c0fb5
canbus_interface: can0



[temperature_sensor FlyD5]
sensor_type: temperature_mcu
sensor_mcu: FlyD5


# -----------------------------------------------------------------------------
# Feeder motor config
# -----------------------------------------------------------------------------


[extruder_stepper feeder0]
extruder: extruder
step_pin: FlyD5:PC15
dir_pin: FlyD5:PC14
enable_pin: !FlyD5:PC2
microsteps: 16
rotation_distance: 22.6789511
gear_ratio: 50:10
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

[tmc2209 extruder_stepper feeder0]
uart_pin: FlyD5:PC13
run_current: 0.650
stealthchop_threshold: 999999

[extruder_stepper feeder1]
extruder: extruder1
step_pin: FlyD5:PA1
dir_pin: FlyD5:PA0
enable_pin: !FlyD5:PA2
microsteps: 16
rotation_distance: 22.452161589 
gear_ratio: 50:10
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree


[tmc2209 extruder_stepper feeder1]
uart_pin: FlyD5:PC3
run_current: 0.650
stealthchop_threshold: 999999

[extruder_stepper feeder2]
extruder: extruder2
step_pin: FlyD5:PA5
dir_pin: FlyD5:PA4
enable_pin: !FlyD5:PA6
microsteps: 16
rotation_distance: 22.905740611
gear_ratio: 50:10
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree


[tmc2209 extruder_stepper feeder2]
uart_pin: FlyD5:PA3
run_current: 0.650
stealthchop_threshold: 999999

[extruder_stepper feeder3]
extruder: extruder3
step_pin: FlyD5:PC5
dir_pin: FlyD5:PC4
enable_pin: !FlyD5:PB0
microsteps: 16
rotation_distance: 22.905740611
gear_ratio: 50:10
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree


[tmc2209 extruder_stepper feeder3]
uart_pin: FlyD5:PA7
run_current: 0.650
stealthchop_threshold: 999999

[extruder_stepper feeder4]
extruder: extruder4
step_pin: FlyD5:PB10
dir_pin: FlyD5:PB2
enable_pin: !FlyD5:PB11
microsteps: 16
rotation_distance: 22.905740611
gear_ratio: 50:10
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree


[tmc2209 extruder_stepper feeder4]
uart_pin: FlyD5:PB1
run_current: 0.650
stealthchop_threshold: 999999

# -----------------------------------------------------------------------------
# Feeder filament sensors
# -----------------------------------------------------------------------------


[filament_switch_sensor feeder0_filament_runout]
switch_pin: ^!FlyD5:PC10
pause_on_runout: false
insert_gcode:
runout_gcode:

[filament_switch_sensor feeder1_filament_runout]
switch_pin: ^!FlyD5:PC11
pause_on_runout: false
insert_gcode:
runout_gcode:

[filament_switch_sensor feeder2_filament_runout]
switch_pin: ^!FlyD5:PA13
pause_on_runout: false
insert_gcode:
runout_gcode:

[filament_switch_sensor feeder3_filament_runout]
switch_pin: ^!FlyD5:PA14
pause_on_runout: false
insert_gcode:
runout_gcode:

[filament_switch_sensor feeder4_filament_runout]
switch_pin: ^!FlyD5:PA15
pause_on_runout: false
insert_gcode:
runout_gcode:

# -----------------------------------------------------------------------------
# Belay tensioners — compensate for filament slack between feeder and toolhead
# multiplier_high/low set the speed ratio bounds before belay intervenes
# -----------------------------------------------------------------------------


[belay feeder0_belay]
extruder_type: extruder_stepper
extruder_stepper_name: feeder0
sensor_pin: ^FlyD5:PB13
multiplier_high: 1.05
multiplier_low: 0.95
debug_level: 1

[belay feeder1_belay]
extruder_type: extruder_stepper
extruder_stepper_name: feeder1
sensor_pin: ^FlyD5:PB14
multiplier_high: 1.05
multiplier_low: 0.95
debug_level: 1

[belay feeder2_belay]
extruder_type: extruder_stepper
extruder_stepper_name: feeder2
sensor_pin: ^FlyD5:PC12
multiplier_high: 1.05
multiplier_low: 0.95
debug_level: 1

[belay feeder3_belay]
extruder_type: extruder_stepper
extruder_stepper_name: feeder3
sensor_pin: ^FlyD5:PB6
multiplier_high: 1.05
multiplier_low: 0.95
debug_level: 1

[belay feeder4_belay]
extruder_type: extruder_stepper
extruder_stepper_name: feeder4
sensor_pin: ^FlyD5:PB7
multiplier_high: 1.05
multiplier_low: 0.95
debug_level: 1




#[board_pins FlyD5]
#aliases:
#aliases_FlyD5:
    # Stepper drivers
    #D0_EN=PC2,   D0_STEP=PC15,  D0_DIR=PC14,  D0_CS=PC13, D0_STOP=PB4,  # X
    #D1_EN=PA2,   D1_STEP=PA1,   D1_DIR=PA0,   D1_CS=PC3,  D1_STOP=PB3,  # Y
    #D2_EN=PA6,   D2_STEP=PA5,   D2_DIR=PA4,   D2_CS=PA3,  D2_STOP=PD2,  # Z
    #D3_EN=PB0,   D3_STEP=PC5,   D3_DIR=PC4,   D3_CS=PA7,  D3_STOP=PB5,  # E0
    #D4_EN=PB11,  D4_STEP=PB10,  D4_DIR=PB2,   D4_CS=PB1,                # E1

    # Heaters
   # BED_OUT=PC7,
#    HEAT0=PC6,

    # Thermisors
    #BED_TEMP=PC0,
    #HEAT0_TEMP=PC1,
   
    # Fans
    #FAN0=PC8, FAN1=PC9,

    # EXP1 header
    #EXP1_1=<NC>,  EXP1_3=PC11,  EXP1_5=PC10,  EXP1_7=<NC>,  EXP1_9=<GND>,
    #EXP1_2=PA15,  EXP1_4=PA14,  EXP1_6=PA13,  EXP1_8=<NC>,  EXP1_10=<5V>,
    
    # EXP2 header
    #EXP2_1=PB14, EXP2_3=PC12,  EXP2_5=PB6,   EXP2_7=PB7,    EXP2_9=<GND>,
    #EXP2_2=PB13, EXP2_4=PB12,  EXP2_6=PB15,  EXP2_8=<RST>,  EXP2_10=<NC>,

    # BL Touch
    #SERVO=PA8   # BL Touch servo pin
