
[mcu Toolhead2]
canbus_uuid: 146e53800608
canbus_interface: can1

[adxl345 T2]
cs_pin: Toolhead2: PB12
spi_software_sclk_pin: Toolhead2: PB10
spi_software_mosi_pin: Toolhead2: PB11
spi_software_miso_pin: Toolhead2: PB2
axes_map: x,y,z

[extruder2]
step_pin: Toolhead2: PD0
dir_pin: Toolhead2: PD1
enable_pin: !Toolhead2: PD2
rotation_distance: 18.029221829674    #Clone bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: Toolhead2: PB13

sensor_type: Generic 3950
sensor_pin: Toolhead2: PA3

max_extrude_only_distance: 70.0

control: pid
# pid_Kp=17.516 pid_Ki=0.828 pid_Kd=92.612
# pid_Kp=18.541 pid_Ki=0.883 pid_Kd=97.341
# pid_Kp=18.244 pid_Ki=0.888 pid_Kd=93.728
pid_Kp: 18.244
pid_Ki: 0.888
pid_Kd: 93.728


min_temp: 0
max_temp: 350


[tmc2209 extruder2]
uart_pin: Toolhead2: PA15
run_current: 0.650
stealthchop_threshold: 999999


#####################################################################
#   Filament runout sensors
#####################################################################

[filament_switch_sensor T2_filament_runout_1]
switch_pin: ^!Toolhead2:PB8 
pause_on_runout: true
insert_gcode:
  STATUS_LOADING T=2
  FORCE_MOVE STEPPER=extruder2 DISTANCE=30 VELOCITY=5
  STATUS_READY T=2
event_delay: 3.0
pause_delay: 0.5

# this sensor is mostly to figure out if the filament is past the extruder or not
#[filament_switch_sensor T2_filament_runout_2]
#switch_pin: ^!Toolhead2:PB9
#pause_on_runout: False


#####################################################################
# 	Fans
#####################################################################

[fan_generic T2_partfan]
pin: Toolhead2: PA1

[heater_fan T2_hotend_fan]
pin: Toolhead2: PA0
heater: extruder2
heater_temp: 50.0

#####################################################################
# 	Tool definition
#####################################################################

[gcode_macro T2]
variable_color: ""
gcode:
  SELECT_TOOL T=2

[tool T2]
tool_number: 2
extruder: extruder2
fan: T2_partfan

gcode_x_offset: -0.080
gcode_y_offset: -1.000
gcode_z_offset: 2.101


params_park_x: 189.0
params_park_y: 11.0
params_park_z: 297.0

#Input shaper
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 50.2
params_input_shaper_damping_ratio_x: 0.056
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 32.8
params_input_shaper_damping_ratio_y: 0.067

[tool_probe T2]
pin: ^Toolhead2:PB6
tool: 2
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: 0
# drop_first_result: True # enable is on danger-klipper
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.02 #0.006
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder2


#####################################################################
# 	LEDS
#####################################################################

[neopixel sb_leds_t2]
pin: Toolhead2:PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.2
initial_BLUE: 0.2784
initial_WHITE: 0.0
