# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# RP2040 with "USB" or "CAN bus (on gpio4/gpio5)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu Toolhead0]
canbus_uuid: a29e2da27a56

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: Toolhead0:gpio28

[adxl345 T0]
cs_pin: Toolhead0:gpio1
spi_software_sclk_pin: Toolhead0:gpio2
spi_software_mosi_pin: Toolhead0:gpio0
spi_software_miso_pin: Toolhead0:gpio3
axes_map: z,-y,x

[extruder]
step_pin: Toolhead0:gpio18
dir_pin: Toolhead0:gpio19
enable_pin: !Toolhead0:gpio17
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: Toolhead0:gpio7

#Measured on Sunlu PLA+
pressure_advance: 0.0400

control: pid
#Original values
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
#Values tuned with `PID_CALIBRATE HEATER=extruder TARGET=240`: pid_Kp=24.785 pid_Ki=1.899 pid_Kd=80.860
pid_kp:24.785
pid_ki:1.899
pid_kd:80.860

min_temp: 0
max_temp: 300

sensor_type: MAX31865
sensor_pin: Toolhead0:gpio9
spi_software_sclk_pin: Toolhead0:gpio10
spi_software_mosi_pin: Toolhead0:gpio8
spi_software_miso_pin: Toolhead0:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: Toolhead0:gpio20
run_current: 0.650
stealthchop_threshold: 999999

#####################################################################
# 	Fans
#####################################################################

[multi_fan T0_partfan]
pin: Toolhead0:gpio13

[heater_fan T0_hotend_fan]
pin: Toolhead0:gpio14
heater: extruder
heater_temp: 50.0

#####################################################################
# 	Temp sensor
#####################################################################

[temperature_sensor chamber_sensor_t0]
sensor_type: PT1000
sensor_pin: Toolhead0:gpio27

#####################################################################
# 	Tool definition
#####################################################################

#Change tool number if needed in the next line, as well ast the last line
[gcode_macro T0]
variable_color: ""
gcode:
  SELECT_TOOL T=0

[tool T0]
tool_number: 0
extruder: extruder
fan: multi_fan T0_partfan

gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0

params_type: 'sc'
#This is the path the tool change takes. Shouldn't have to change it. Unless
#you are using a custom dock
params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]

#Where the tool is sititng in its dock.
params_park_x: 245.00
params_park_y: 11.00
params_park_z: 299.000

# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 47.8
params_input_shaper_damping_ratio_x: 0.057
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 36.4
params_input_shaper_damping_ratio_y: 0.070

[tool_probe T0]
pin: ^Toolhead0:gpio22
tool: 0
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: -0.7 #-0.570 # Z axis-sensor relative nozzle offset
# drop_first_result: True # enable is on danger-klipper
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder