[mcu Toolhead1]
canbus_uuid: 8c616e037ce6 # this is the EBB36 and not the sb2209
canbus_interface: can0


[adxl345 T1]
cs_pin: Toolhead1: PB12
spi_software_sclk_pin: Toolhead1: PB10
spi_software_mosi_pin: Toolhead1: PB11
spi_software_miso_pin: Toolhead1: PB2
axes_map: x,y,z

[extruder1]
step_pin: Toolhead1: PD0
dir_pin: Toolhead1: PD1
enable_pin: !Toolhead1: PD2
rotation_distance: 18.39716513232   #Clone bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: Toolhead1:gpio7


sensor_type: Generic 3950
sensor_pin: Toolhead1: PA3


#Measured on Sunlu PLA+
pressure_advance: 0.0400

max_extrude_only_distance: 150.0

control: pid
#Original values
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
#Values tuned with `PID_CALIBRATE HEATER=extruder TARGET=280`:  pid_Kp=12.357 pid_Ki=0.453 pid_Kd=84.334
pid_kp:12.357
pid_ki: 0.6 #0.453 Higher Ki makes it behave better because of the laggy response
pid_kd: 84.334

min_temp: 0
max_temp: 350


